% setdefault('napaka', '')
% rebase('base.html', povezava='/rezervacija/nova/lokacija', zavihek='Nova rezervacija', naslov='Lokacije', napaka=napaka)

<p class="mx-2">V prvem koraku oblikovanja nove rezervacije te prosimo, da med naštetimi možnostmi izbereš želeno lokacijo.</p>



<table class="table table-borderless">
<tr>
    %for i in range(0, len(lokacija)//2):
        <form action="{{url('nova_rezervacija', id_lokacije=lokacija[i][0])}}" method="get">    
            <td><button class="btn btn-light btn-outline-dark" type="submit">{{lokacija[i][1]}}</button></td>
        </form>
    %end 
</tr>
<tr>
    <td><img src={{url('static', filename='hotel1.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"></td>
    <td><img src={{url('static', filename='hotel9.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"></td>
    <td><img src={{url('static', filename='hotel2.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"></td>
    <td><img src={{url('static', filename='hotel3.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"></td>
    <td><img src={{url('static', filename='hotel4.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"></td>
</tr>
<tr>
    %for j in range(len(lokacija)//2, len(lokacija)):
            <form action="{{url('nova_rezervacija', id_lokacije=lokacija[j][0])}}" method="get">
                <td><button class="btn btn-light btn-outline-dark" type="submit">{{lokacija[j][1]}}</button></td>
            </form>
    %end 
</tr>
<tr>
    <td><img src={{url('static', filename='hotel5.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"></td>
    <td><img src={{url('static', filename='hotel6.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"></td>
    <td><img src={{url('static', filename='hotel7.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"></td>
    <td><img src={{url('static', filename='hotel8.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"></td>
    <td><img src={{url('static', filename='hotel10.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"></td>
</tr>
</table>