% setdefault('napaka', '')
% rebase('base.html', povezava='/rezervacija/nova/lokacija', zavihek='Nova rezervacija', naslov='Lokacije', napaka=napaka)

<p class="mx-2">V prvem koraku oblikovanja nove rezervacije te prosimo, da med naštetimi možnostmi izbereš želeno lokacijo.</p>



<table class="table table-borderless">
<tr>
    %for i in range(0, len(lokacija)//2):
        <form action="/rezervacija/nova/{{lokacija[i][0]}}" method="get">   
            <td><button class="btn btn-light btn-outline-dark" type="submit">{{lokacija[i][1]}}</button>
                <img src='/static/hotel{{i+1}}.jpg' alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
            </td>
        </form>
    %end 
</tr>
<tr>
    %for j in range(len(lokacija)//2, len(lokacija)):
            <form action="/rezervacija/nova/{{lokacija[j][0]}}" method="get">
                <td><button class="btn btn-light btn-outline-dark" type="submit" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Prosim izberite lokacijo">
                    {{lokacija[j][1]}}</button>
                    <img src='/static/hotel{{j+1}}.jpg' alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
                </td>
            </form>
    %end 
</tr>
</table>