% setdefault('napaka', '')
% rebase('base.html', povezava='', zavihek='', pregled='/zaposleni/izbira', izbira='', naslov='Izberi področje, ki si ga želiš ogledati', napaka=napaka)

<table class="table table-borderless">
    <tr>
        <td>
            <form action="{{url('pregled_vseh_rezervacij')}}" method="GET">
                <button class="btn btn-light" type="submit">Pregled rezervacij</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="{{url('pregled_osebja')}}" method="GET">
                <button class="btn btn-light" type="submit">Pregled zaposlenih</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="{{url('pregled_lokacij')}}" method="GET">
                <button class="btn btn-light" type="submit">Pregled lokacij in njihovih sob</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="{{url('pregled_zajtrkov')}}" method="GET">
                <button class="btn btn-light" type="submit">Pregled zajtrkov</button>
            </form>
        </td>
    </tr>
</table>
