% setdefault('napaka', '')
% rebase('base.html', naslov='Izberi želeno funkcijo', napaka=napaka)

<table id="izpis" class="table table-borderless">
    <tr>
        <td>
            <form action="/zaposleni/prijava" method="GET">
                <button type="submit">Zaposleni</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="/rezervacija/nova/lokacija" method="GET">
                <button type="submit">Nova rezervacija</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="/rezervacija/prijava" method="GET">
                <button type="submit">Pregled obstoječe rezervacije</button>
            </form>
        </td>
    </tr>
</table>








