% setdefault('napaka', '')
% rebase('base.html', naslov='Zaposleni - izberi želeno področje', napaka=napaka)

<form action="/zaposleni/rezervacije" method="GET">
    <button type="submit">Pregled vseh obstoječih rezervacij</button>
</form>

<form action="/zaposleni/osebje" method="GET">
    <button type="submit">Pregled zaposlenih</button>
</form>

<form action="/zaposleni/lokacije" method="GET">
    <button type="submit">Pregled lokacij</button>
</form>

<form action="/zaposleni/zajtrki" method="GET">
    <button type="submit">Pregled zajtrkov</button>
</form>



