% setdefault('napaka', '')
% rebase('base.html', povezava='izbira_uporabnika', naslov='Dobrodošli na spletni strani lokalne verige B&B', napaka=napaka)


 <p class="h5">
    Bi si želeli preživeti počitnice na eni izmed spodnjih lokacij?
 </p>
 <p>
    <img src={{url('static', filename='hotel1.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
    <img src={{url('static', filename='hotel9.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
    <img src={{url('static', filename='hotel2.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
    <img src={{url('static', filename='hotel3.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
    <img src={{url('static', filename='hotel4.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
</p>
<div style = "position:fixed; top:310px">
    <img src={{url('static', filename='hotel5.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;"> 
    <img src={{url('static', filename='hotel6.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
    <img src={{url('static', filename='hotel7.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
    <img src={{url('static', filename='hotel8.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
    <img src={{url('static', filename='hotel10.jpg')}} alt="Hotel" class="rounded float-start" style="width:150px;height:150px;">
</div>
</p>
<p>
 
 
<div style="position:fixed; top:480px">
    <form action="{{url('izbira_lokacije')}}" method="GET">
        <button class="btn btn-outline-danger" type="submit">Želim rezervirati!</button>
    </form> 
</div>

<div style="position:fixed; top:525px">
    <form action="{{url('rezervacija_prijava_get')}}" method="GET">
        <button class="btn btn-outline-dark" type="submit">Že imaš rezervacijo in bi si jo rad/a ogledal/a ali uredil/a?</button>
    </form>
</div>

<div style="position:fixed; top:570px">
    <form action="{{url('prijava_get')}}" method="GET">
        <button class="btn btn-outline-dark" type="submit">Si zaposleni in se želiš prijaviti?</button>
    </form>
</div>





