% setdefault('napaka', '')
% rebase('base.html', naslov='Dodajanje rezervacije', napaka=napaka)

<form action="/rezervacija/nova/{{id}}" method="post">
    <table id="izpis" class="table table-borderless">
        <tr>
            <td><span>Soba:</span></td>
            <td>
                <select name="rezervirana_soba" type="text" required
                    onselect="preveriPolje(this)"
                    oninvalid="preveriPolje(this)">
                    <option disabled selected value> -- izberi možnost --
                    </option>
                    %for (id, velikost, lokacija, cena) in soba:
                    <option value="{{id}}">{{velikost}}, {{cena}} €</option>
                    %end
                </select>
            </td>
        </tr>
        <tr>
            <td><span>Datum:</span></td>
            <td>
                <input name="pricetek_bivanja" type="date" required
                    oninput="preveriPolje(this)"
                    oninvalid="preveriPolje(this)" />
            </td>
        </tr>
        <tr>
            <td><span>Število nočitev:</span></td>
            <td>
                <input name="stevilo_nocitev" type="number" step="1" required
                    oninput="preveriPolje(this)"
                    oninvalid="preveriPolje(this)" />
            </td>
        </tr>
        <tr>
            <td><span>Zajtrk:</span></td>
            <td>
                <select name="vkljucuje" type="text" value="" required
                    onselect="preveriPolje(this)"
                    oninvalid="preveriPolje(this)">>
                    <option disabled selected value> -- izberi možnost --
                    </option>
                    %for (id, ime, cena_zajtrk) in zajtrki:
                    <option value="{{id}}">{{ime}}, {{cena_zajtrk}} €</option>
                    %end
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="geslo">Geslo:</label></td>
            <td>
                <input id="geslo" name="geslo" type="password" required
                    oninput="preveriPolje(this)"
                    oninvalid="preveriPolje(this)"
                    />
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input value="Oddaj novo rezervacijo!" type="submit" /></td>
        </tr>
    </table>
</form>

<script>
    function preveriPolje(polje) {
        if(polje.validity.valueMissing) {
            polje.setCustomValidity('Obvezno polje')
        } else if(polje.validity.stepMismatch) {
            polje.setCustomValidity('Vnesti morate celo število')
        } else {
            polje.setCustomValidity('')
        }
    }
</script>