% setdefault('napaka', '')
% rebase('base.html', naslov='Dodajanje rezervacije', napaka=napaka)

    <form action="/rezervacija/nova/{{id}}" method="post">
    <span>Soba:</span><select name="rezervirana_soba" type="text">
        %for (id, velikost, lokacija, cena) in soba:
        <option value="{{id}}">{{velikost}}, {{cena}} €</option>
        %end
    </select>
    <span>Datum:</span><input name="pricetek_bivanja" type="date" required 
    oninput="this.setCustomValidity('')"
    oninvalid="this.setCustomValidity('Obvezno polje')"/>
    <span>Število nočitev:</span><input name="stevilo_nocitev" type="number" required
    oninput="this.setCustomValidity('')"
    oninvalid="this.setCustomValidity('Obvezno polje')"/>
    <span>Zajtrk:</span><select name="vkljucuje" type="text"> 
        %for (id, ime, cena_zajtrk) in zajtrki:
        <option value="{{id}}">{{ime}}, {{cena_zajtrk}} €</option>
        %end
    </select>
    <label for="geslo">Geslo:</label>
    <input id="geslo" name="geslo" type="text" required
    oninput="this.setCustomValidity('')"
    oninvalid="this.setCustomValidity('Obvezno polje')"
    />
    <input value="Dodaj" type="submit"/>
</form>