% setdefault('napaka', '')
% rebase('base.html', povezava='', zavihek='', naslov='Nova rezervacija', napaka=napaka)

<p class="mx-2">Če želiš ustvariti novo rezervacijo, izpolni sledeči obrazec.</p>

<form action="/rezervacija/nova/{{id}}" method="post" class="row-g3 mx-2">
    <div class="col-6">
        <label for="rezervirana_soba" class="form-label">Soba:</label>
        <select id="rezervirana_soba" name="rezervirana_soba" type="text" class="form-select" required
                    onselect="preveriPolje(this)"
                    oninvalid="preveriPolje(this)">
            <option disabled selected value> -- izberi možnost -- </option>
            %for (id, velikost, lokacija, cena) in soba:
                <option value="{{id}}">{{velikost}}, {{cena}} €</option>
            %end
        </select>
    </div>
    <div class="mb-3 row">
        <div class="col-6">
            <label for="pricetek_bivanja" class="form-label my-3">Datum prihoda:</label>
            <input id="pricetek_bivanja" name="pricetek_bivanja" type="date" class="form-control" required
                    oninput="preveriPolje(this)"
                    oninvalid="preveriPolje(this)" />
        </div>
        <div class="col-6">
            <label for="stevilo_nocitev" class="form-label my-3">Število nočitev:</label>
            <input id="stevilo_nocitev" name="stevilo_nocitev" type="number" step="1" class="form-control" required
                    oninput="preveriPolje(this)"
                    oninvalid="preveriPolje(this)" />
        </div>
    </div>
    <div class="col-6">
        <label for="vkljucuje" class="form-label my-2">Vrsta zajtrka:</label>
        <select id="vkljucuje" name="vkljucuje" type="text" class="form-select my-2" required
                    onselect="preveriPolje(this)"
                    oninvalid="preveriPolje(this)">
            <option disabled selected value> -- izberi možnost -- </option>
            %for (id, ime, cena_zajtrk) in zajtrki:
                <option value="{{id}}">{{ime}}, {{cena_zajtrk}}€</option>
            %end
        </select>
    </div>
    <div class="col-6">
        <label for="geslo" class="form-label my-3">Geslo:</label>
        <input id="geslo" name="geslo" type="password" class="form-control" required
                    oninput="preveriPolje(this)"
                    oninvalid="preveriPolje(this)" />
    </div>
    <div class="col-12 d-flex justify-content-start">
        <button class="btn btn-dark my-3" type="submit">Oddaj novo rezervacijo!</button>
    </div>
</form>

<script>
    function preveriPolje(polje) {
        if(polje.validity.valueMissing) {
            polje.setCustomValidity('Obvezno polje')
        } else if(polje.validity.stepMismatch) {
            polje.setCustomValidity('Vnesti morate celo število')
        } else {
            polje.setCustomValidity('')
        }
    }
</script>

