% setdefault('napaka', '')
% rebase('base.html', naslov='Mogoči zajtrki', napaka=napaka)

<div style="display: inline-block;">
    % include('orodna_vrstica.html', povezava='/zaposleni/zajtrki/dodaj', napis='Dodaj zajtrk')

    <table id="izpis" cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>id</th>
        <th>Ime</th>
        <th>Cena</th>
        <th>Akcije</th>
    </tr>
    %for (id,ime,cena) in zajtrki:
        <tr>
            <td>{{id}}</td>
            <td>{{ime}}</td>
            <td>{{cena}}</td>
            <td>
                <form action="/zaposleni/zajtrki/uredi/{{id}}" method="get">
                    <a href="#" onclick="this.parentElement.submit()">Uredi</a>
                </form>
            </td>
        </tr>
    %end
    </table>
</div>