% setdefault('napaka', '')
% rebase('base.html', povezava='', zavihek='', pregled='/zaposleni/rezervacije', izbira='Pregled rezervacij', naslov='Pregled rezervacij', napaka=napaka)

% include('orodna_vrstica.html', povezava='', napis='', stolpci='[0,1,2,3,4]')
<table id="izpis" class="table table-hover">
    <thead class="table-secondary">
    <tr>
        <th>id</th>
        <th>Izbrana lokacija</th>
        <th>Rezervirana soba</th>
        <th>Pričetek bivanja</th>
        <th>Število nočitev</th>
        <th>Izbran zajtrk</th>
    </tr>
    </thead>
    %for (id,lokacija, rezervirana_soba, pricetek_bivanja, stevilo_nocitev, zajtrk) in rezervacija:
    <tr>
        <td>{{id}}</td>
        <td>{{lokacija}}</td>
        <td>{{rezervirana_soba}}</td>
        <td>{{pricetek_bivanja}}</td>
        <td>{{stevilo_nocitev}}</td>
        <td>{{zajtrk}}</td>
    </tr>
    %end
</table>