% setdefault('napaka', '')
% rebase('base.html', naslov='Pregled osebja', napaka=napaka)

<form action="/zaposleni/osebje/dodaj" method="post">
    <span>Emšo:</span> <input name="emso" type="text" />
    <span>Ime:</span> <input name="ime" type="text" />
    <span>Priimek:</span> <input name="priimek" type="text" />
    <input value="Dodaj" type="submit" />
</form>

<table cellpadding="0" cellspacing="0" border="1">
<tr>
    <th>Emšo</th>
    <th>Ime</th>
    <th>Priimek</th>
    <th>Akcije</th>
</tr>
%for (emso,ime,priimek) in osebje:
    <tr>
        <td>{{emso}}</td>
        <td>{{ime}}</td>
        <td>{{priimek}}</td>
        <td>
            <form action="/zaposleni/osebje/brisi/{{emso}}" method="post">
                <input value="Briši" type="submit" />
            </form>
        </td>
    </tr>
%end
</table>