% setdefault('napaka', '')
% rebase('base.html', povezava='', zavihek='', pregled='/zaposleni/lokacije', izbira='Pregled lokacij', naslov='Pregled lokacij', napaka=napaka)

% include('orodna_vrstica.html', povezava='', napis='', stolpci='[1,2]')
<table id="izpis" class="table table-hover">
    <thead class="table-secondary">
    <tr>
        <th>id</th>
        <th>Lokacija</th>
        <th>Vodja lokacije</th>
        <th>Možnosti</th>
    </tr>
    </thead>
    %for (id, lokacija, ime, priimek) in lokacije:
    <tr>
        <td>{{id}}</td>
        <td>{{lokacija}}</td>
        <td>{{ime}} {{priimek}}</td>
        <td>
            <form action="{{url('pregled_sob_lokacije',id=id)}}" method="get">
                <a href="#" onclick="this.parentElement.submit()" class="link-secondary">Preglej sobe na lokaciji</a>
            </form>
        </td>
    </tr>
    %end
</table>
