% setdefault('napaka', '')
% rebase('base.html', povezava='', zavihek='', naslov='Pregled obstoječe rezervacije', napaka=napaka)

<table class="table table-hover">
    <thead class="table-secondary">
    <tr>
        <th>id</th>
        <th>Rezervirana soba</th>
        <th>Pričetek bivanja</th>
        <th>Število nočitev</th>
        <th>Cena bivanja</th>
        <th>Izbran zajtrk</th>
        <th>Cena zajtrkov</th>
        <th>Cena skupaj</th>
        <!-- vključi: Konec bivanja -->
    </tr>
</thead>
    %for (id, rezervirana_soba, pricetek_bivanja, stevilo_nocitev, ime) in rezervacija:
        <tr>
            <td>{{id}}</td>
            <td>{{rezervirana_soba}}</td>
            <td>{{pricetek_bivanja}}</td>
            <td>{{stevilo_nocitev}}</td>
            <td>{{cena_soba}} €</td>
            <td>{{ime}}</td>
            <td>{{cena_zajtrk}} €</td>
            <td>{{skupaj_cena}} €</td>
            <!-- vključi: Konec bivanja -->
            
        </tr>
    </table>  

    <div class="row g-0">
        <div class="col-8"></div>
        <div class="col-sm-6 col-md-2">
            <form action="/rezervacija/pregled/{{id}}/uredi" method="get">
                <button href="#" onclick="this.parentElement.submit()" class="btn btn-dark">Uredi svojo rezervacijo</a>
            </form>
        </div>
        <div class="col-6 col-md-2">
            <form action="/rezervacija/pregled/{{id}}/brisi" method="post">
                <button href="#" onclick="this.parentElement.submit()" class="btn btn-dark">Izbriši svojo rezervacijo</a>
            </form>
        </div>
    </div>

    
 %end
