% setdefault('napaka', '')
% rebase('base.html', naslov='Mogoči zajtrki', napaka=napaka)

<form action="/zaposleni/zajtrki/dodaj" method="post">
    <span>Id:</span> <input name="id" type="text" />
    <span>Ime:</span> <input name="ime" type="text" />
    <span>Cena:</span> <input name="cena" type="text" />
    <input value="Dodaj" type="submit" />
</form>

<table cellpadding="0" cellspacing="0" border="1">
<tr>
    <th>id</th>
    <th>Ime</th>
    <th>Cena</th>
    <th>Akcije</th>
</tr>
%for (id,ime,cena) in zajtrki:
    <tr>
        <td>{{id}}</td>
        <td>{{ime}}</td>
        <td>{{cena}}</td>
        <td>
            <form action="/zaposleni/zajtrki/brisi/{{id}}" method="post">
                <input value="Briši" type="submit" />
            </form>
        </td>
    </tr>
%end
</table>