% setdefault('napaka', '')
% rebase('base.html', naslov='Sobe na izbrani lokaciji', napaka=napaka)


% include('orodna_vrstica.html', povezava='', napis='')

<form action="/zaposleni/sobe/{{sobe[0]}}" method="get">
    <table id="izpis" class="table table-striped">
        <tr>
            <th>id</th>
            <th>Velikost sobe</th>
            <th>Cena</th>
            <th>Odgovorna oseba</th>
        </tr>
        %for (id, velikost, cena, ime, priimek) in sobe:
        <tr>
            <td>{{id}}</td>
            <td>{{velikost}}</td>
            <td>{{cena}}</td>
            <td>{{ime}} {{priimek}}</td>
        </tr>
        %end
    </table>
</form>
