% setdefault('napaka', '')
% rebase('base.html', naslov='Pregled osebja', napaka=napaka)

<div style="display: inline-block;">
    % include('orodna_vrstica.html', povezava='/zaposleni/osebje/dodaj', napis='Dodaj zaposlenega', stolpci='[1,2]')

    <table id="izpis" cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>Emšo</th>
        <th>Ime</th>
        <th>Priimek</th>
        <th>Akcije</th>
    </tr>
    %for (emso,ime,priimek) in osebje:
        <tr>
            <td>{{emso}}</td>
            <td>{{ime}}</td>
            <td>{{priimek}}</td>
            <td>
                <form action="/zaposleni/osebje/brisi/{{emso}}" method="post">
                    <input value="Briši" type="submit" />
                </form>
                <form action="/zaposleni/osebje/uredi/{{emso}}" method="get">
                    <input value="Uredi" type="submit" />
                </form>
            </td>
        </tr>
    %end
    </table>
</div>