%rebase('base.html', naslov='Pregled osebja')

<form action="/zaposleni/osebje/dodaj" method="post">
    <span>Emšo:</span> <input name="emso" type="text" />
    <span>Ime:</span> <input name="ime" type="text" />
    <span>Priimek:</span> <input name="priimek" type="text" />
    <input value="Dodaj" type="submit" />
</form>

<table cellpadding="0" cellspacing="0" border="1">
<tr>
    <th>EMŠO</th>
    <th>Ime</th>
    <th>Priimek</th>
</tr>
%for (emso,ime,priimek) in osebje:
    <tr>
        <td>{{emso}}</td>
        <td>{{ime}}</td>
        <td>{{priimek}}</td>
    </tr>
%end
</table>