% setdefault('napaka', '')
% rebase('base.html', naslov='Prijava zaposenih', napaka=napaka)

<form action="/zaposleni/prijava" method="post">
    <table class="table table-borderless">
        <tr>
            <td>Emšo:</td>
            <td><input name='emso' type='number' /></td>
        </tr>
        <tr>
            <td>Geslo:</td>
            <td><input name='geslo' type='password' /></td>
        </tr>
        <tr>
            <td></td>
            <td><input value='Prijava' type='submit' /></td>
        </tr>
    </table>
</form>

