% setdefault('napaka', '')
% rebase('base.html', povezava='rezervacija_prijava_get', naslov='Prijava za ogled rezervacije', napaka=napaka)

<form action="{{url('rezervacija_prijava_post')}}" method="post" class="row-g3 mx-2">
    <div class="col-4">
        <label for="id" class="form-label my-3">Številka rezervacije:</label>
        <input id="id" name="id" type="number" class="form-control" />
    </div>
    <div class="col-4">
        <label for="geslo" class="form-label my-3">Geslo:</label>
        <input id="geslo" name="geslo" type="password" class="form-control" />
    </div>
    <div class="col-12 my-3 d-flex justify-content-start">
        <button class="btn btn-dark" type="submit">Prijava</button>
    </div>
</form>
