% setdefault('napaka', '')
% rebase('base.html', povezava='', zavihek='', naslov='Zaključek rezervacije', napaka=napaka)

  <table class="table table-borderless">
    <tr><td class="zakljucek">Uspešno ste ustvarili novo rezervacijo!</td></tr>
    <tr><td><div class="rounded float-start"style="width:20%">
        <img class="rounded float-start" src="/static/background.png" alt="Card image" style="width:20%">
      </div></td></tr>
    <tr><td>Številka vaše rezervacije je <strong>{{id}}</strong>.</td></tr>
    <tr><td>Vaše bivanje pri nas se zaključi {{konec_bivanja}}.</td></tr>
    <tr><td><div class="h5">Skupaj za plačilo {{skupaj_cena}} €.</div> </td></tr>
</table>

<div class="row g-0">
    <div class="col-sm-6 col-md-2">
        <form action="{{url('pregled_rezervacije',id=id)}}" method="get">
            <button href="#" onclick="this.parentElement.submit()" class="btn btn-dark">Oglej si svojo rezervacijo</button>
        </form>
    </div>
    <div class="col-6 col-md-2">
        <form action="{{url('izbira_uporabnika')}}" method="get">
            <button href="#" onclick="this.parentElement.submit()" class="btn btn-dark">Vrnitev na začetno stran</button>
        </form>
    </div>
</div>

