% setdefault('napaka', '')
% setdefault('naslov', 'Urejanje obstoječe rezervacije')
% rebase('base.html', povezava='', zavihek='', naslov=naslov, napaka=napaka)

<form action="{{url('uredi_rezervacija_post',id = rezervacija[0])}}" method="post" class="row-g3 mx-2">
    <div class="col-6">
        <label for="id" class="form-label my-3">Id:</label>
        <input type="text" readonly class="form-control-plaintext" id="id" value="{{rezervacija[0]}}">
    </div>
    <div class="col-6">
        <label for="rezervirana_soba" class="form-label">Soba:</label>
        <input type="text" readonly class="form-control-plaintext" id="id" value="{{rezervacija[1]}}, {{rezervacija[2]}}€">
    </div>
    <div class="mb-3 row">
        <div class="col-6">
            <label for="pricetek_bivanja" class="form-label my-3">Datum prihoda:</label>
            <input id="pricetek_bivanja" name="pricetek_bivanja" type="date" value="{{rezervacija[3]}}" class="form-control" required
                    oninput="preveriPolje(this)"
                    oninvalid="preveriPolje(this)" />
        </div>
        <div class="col-6">
            <label for="stevilo_nocitev" class="form-label my-3">Število nočitev:</label>            
            <input id="stevilo_nocitev" name="stevilo_nocitev" type="number" step="1" value="{{rezervacija[4]}}" class="form-control" required
                    oninput="preveriPolje(this)"
                    oninvalid="preveriPolje(this)" />
        </div>
    </div>
    <div class="col-6">
        <label for="ime" class="form-label my-2">Vrsta zajtrka:</label>
        <select id="ime" name="ime" type="text" value="{{rezervacija[5]}}" class="form-select my-2"> 
            %for (id, ime, cena) in zajtrki:
            %if ime == rezervacija[5]:
            <option selected value="{{id}}">{{ime}}, {{cena}} €</option>
            %else:
            <option value="{{id}}">{{ime}}, {{cena}} €</option>
            %end
            %end
        </select>
    </div>
    <div class="col-12 d-flex justify-content-start">
        <button class="btn btn-dark my-3" type="submit">Popravi svojo rezervacijo</button>
    </div>
</form>

<script>
    function preveriPolje(polje) {
        if(polje.validity.valueMissing) {
            polje.setCustomValidity('Obvezno polje')
        } else if(polje.validity.typeMismatch) {
            polje.setCustomValidity('Vnesti morate število')
        } else {
            polje.setCustomValidity('')
        }
    }
</script>