% setdefault('napaka', '')
% rebase('base.html', povezava='', zavihek='', naslov='Zaključek rezervacije', napaka=napaka)

<table class="table table-borderless">
    <tr><td class="zakljucek">Uspešno ste zaključili rezervacijo!</td></tr>
    <tr><td>Številka vaše rezervacije je <strong>{{id}}</strong>.</td></tr>
    <tr><td>Vaše bivanje pri nas se zaključi {{konec_bivanja}}.</td></tr>
    <tr>
        <td>
            <form action="/rezervacija/pregled/{{id}}" method="get">
                <a href="#" onclick="this.parentElement.submit()">Ogled
                    rezervacije</a>
            </form>
            <form action="/izbira_uporabnika" method="get">
                <a href="#" onclick="this.parentElement.submit()">Začetna stran</a>
            </form>
        </td>
    </tr>
</table>
