% setdefault('napaka', '')
% setdefault('naslov', 'Urejanje obstoječe rezervacije')
% rebase('base.html', naslov=naslov, napaka=napaka)

<form action="/rezervacija/pregled/{{rezervacija[0]}}/uredi" method="post">
    <table class="table table-borderless">
        <tr>
            <td><span>Id:</span></td>
            <td>{{rezervacija[0]}}</td>
        </tr>
        <tr>
            <td><span>Soba:</span></td>
            <td>{{rezervacija[1]}}, {{rezervacija[2]}}€</td>
        </tr>
        <tr>
            <td><span>Pričetek bivanja:</span></td>
            <td>
                <input name="pricetek_bivanja" type="date" value="{{rezervacija[3]}}" required 
                    oninput="preveriPolje(this)"
                    oninvalid="preveriPolje(this)"/>
            </td>
        </tr>
        <tr>
            <td><span>Število nočitev:</span></td>
            <td>
                <input name="stevilo_nocitev" type="text" value="{{rezervacija[4]}}" />
            </td>
        </tr>
        <tr>
            <td><span>Vrsta zajtrka:</span></td>
            <td>
                <select name="ime" type="text" value="{{rezervacija[5]}}"> 
                    %for (id, ime, cena) in zajtrki:
                    %if ime == rezervacija[5]:
                    <option selected value="{{id}}">{{ime}}, {{cena}} €</option>
                    %else:
                    <option value="{{id}}">{{ime}}, {{cena}} €</option>
                    %end
                    %end
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input value="Popravi rezervacijo" type="submit" /></td>
        </tr>
    </table>
</form>

<script>
    function preveriPolje(polje) {
        if(polje.validity.valueMissing) {
            polje.setCustomValidity('Obvezno polje')
        } else if(polje.validity.typeMismatch) {
            polje.setCustomValidity('Vnesti morate število')
        } else {
            polje.setCustomValidity('')
        }
    }
</script>