% setdefault('napaka', '')
% rebase('base.html', naslov='Dodajanje novega zajtrka', napaka=napaka)

% if defined('zajtrk'):
<form action="/zaposleni/zajtrki/uredi/{{zajtrk[0]}}" method="post">
% else:
<form action="/zaposleni/zajtrki/dodaj" method="post">
% end
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <span>Id:</span> 
            </td>
            <td>
                % if defined('zajtrk'):
                    {{zajtrk[0]}}
                % else:
                <input name="id" type="number" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')" 
                />  
                % end
            </td>
        </tr>
        <tr>
            <td>
                <span>Ime:</span>
            </td>
            <td>
                % if defined('zajtrk'):
                <input name="ime" type="text" value="{{zajtrk[1]}}" />
                % else:
                <input name="ime" type="text" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')" 
                />
                % end
            </td>
        </tr>
        <tr>
            <td>
                <span>Cena:</span>
            </td>
            <td>
                % if defined('zajtrk'):
                <input name="cena" type="text" value="{{zajtrk[2]}}" />
                % else:
                <input name="cena" type="number" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')" 
                />
                % end
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                % if defined('zajtrk'):
                <input value="Popravi" type="submit" />
                % else:
                <input value="Dodaj" type="submit" />
                % end
            </td>
        </tr>
    </table>
    
</form>
