% setdefault('napaka', '')
% setdefault('naslov', 'Dodajanje nove vrste zajtrka')
% rebase('base.html', povezava='', zavihek='', naslov=naslov, napaka=napaka)

% if defined('zajtrk'):
<form action="{{url('uredi_zajtrk_post',id=zajtk[0])}}" method="post" class="row-g3 mx-2">
% else:
<form action="{{url('dodaj_zajtrk')}}" method="post" class="row-g3 mx-2">
% end
<div class="row">
    <div class="col-6">
        <label for="id" class="form-label my-3">Id:</label>
        % if defined('zajtrk'):
            <input type="text" readonly class="form-control-plaintext" id="id" value="{{zajtrk[0]}}">
        % else:
            <input id="id" name="id" type="number" class="form-control" required
                oninput="preveriPolje(this)"
                oninvalid="preveriPolje(this)"
            />
        % end
    </div>
</div>
<div class="row">
    <div class="col-6">
        <label for="ime" class="form-label my-3">Ime:</label>
        % if defined('zajtrk'):
            <input id="ime" name="ime" type="text" class="form-control" value="{{zajtrk[1]}}" />
        % else:
            <input id="ime" name="ime" type="text" class="form-control" required
                oninput="preveriPolje(this)"
                oninvalid="preveriPolje(this)"
            />
        % end
    </div>
    <div class="col-6">
        <label for="cena" class="form-label my-3">Cena:</label>
        % if defined('zajtrk'):
            <input id="cena" name="cena" type="number" class="form-control" value="{{zajtrk[2]}}" />
        % else:
            <input id="cena" name="cena" type="number" step="0.01" class="form-control" required
                oninput="preveriPolje(this)"
                oninvalid="preveriPolje(this)"
            />
        % end
    </div>
</div>
<div class="col-12 d-flex justify-content-end my-3">
    <button class="btn btn-dark" type="submit">
        {{'Popravi izbrano vrsto zajtrka' if defined('zajtrk') else 'Dodaj novo vrsto zajtrka'}}
    </button>
</div>
</form>


<script>
    function preveriPolje(polje) {
        if(polje.validity.valueMissing) {
            polje.setCustomValidity('Obvezno polje')
        } else if(polje.validity.typeMismatch) {
            polje.setCustomValidity('Vnesti morate število')
        } else if(polje.validity.stepMismatch) {
            polje.setCustomValidity('Cena je lahko zaokrožena na največ dve decimalki')
        } else {
            polje.setCustomValidity('')
        }
    }
</script>
