% setdefault('napaka', '')
% setdefault('naslov', 'Dodajanje novega zaposlenega')
% rebase('base.html', povezava='', zavihek='', naslov=naslov, napaka=napaka)

% if defined('zaposleni'):
<form action="/zaposleni/osebje/uredi/{{zaposleni[0]}}" method="post">
% else:
<form action="/zaposleni/osebje/dodaj" method="post">
% end
    <table class="table table-borderless">
        <tr>
            <td>
                <span>Emšo:</span> 
            </td>
            <td>
                % if defined('zaposleni'):
                    {{zaposleni[0]}}
                % else:
                <input name="emso" type="number" required
                oninput="preveriPolje(this)"
                oninvalid="tpreveriPolje(this)" 
                /> 
                % end
            </td>
        </tr>
        <tr>
            <td>
                <span>Ime:</span>
            </td>
            <td>
                % if defined('zaposleni'):
                <input name="ime" type="text" value="{{zaposleni[1]}}" />
                % else:
                <input name="ime" type="text" required
                oninput="preveriPolje(this)"
                oninvalid="preveriPolje(this)" 
                />
                % end
            </td>
        </tr>
        <tr>
            <td>
                <span>Priimek:</span>
            </td>
            <td>
                % if defined('zaposleni'):
                <input name="priimek" type="text" value="{{zaposleni[2]}}" />
                % else:
                <input name="priimek" type="text" required
                oninput="preveriPolje(this)"
                oninvalid="preveriPolje(this)" 
                />
                % end
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                % if defined('zaposleni'):
                <input value="Popravi podatke zaposlenega" type="submit" />
                % else:
                <input value="Dodaj novega zaposlenega" type="submit" />
                % end
            </td>
        </tr>
    </table>
</form>

<script>
    function preveriPolje(polje) {
        if(polje.validity.valueMissing) {
            polje.setCustomValidity('Obvezno polje')
        } else if(polje.validity.typeMismatch) {
            polje.setCustomValidity('Vnesti morate število')
        } else {
            polje.setCustomValidity('')
        }
    }
</script>